client/node_modules
server/.web-server-pid
server/app/config/parameters.yml
server/build/
server/phpunit.xml
server/var/*
!/server/var/cache
server/var/cache/*
!/servervar/cache/.gitkeep
!/server/var/logs
server/var/logs/*
!/servervar/logs/.gitkeep
!/server/var/sessions
server/var/sessions/*
!/servervar/sessions/.gitkeep
!/servervar/SymfonyRequirements.php
server/vendor/
server/web/bundles/
